[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.129.0",
    "prometheus-fastapi-instrumentator>=7.1.0",
    "psycopg[binary]>=3.2.0",
    "uvicorn>=0.40.0",
]
